{% extends "global/prototypes_base.html" %}

{% block page_title %}

Case List

{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="inner-block">

      <h1 class="heading-large">Case list</h1>

      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="inner-block">
            <a href="../relationship-starts/conveyancer-start" class="button">Add new case</a>
          </div>
        </div>
        <div class="grid grid-1-2">
          <div class="inner-block">
            <form id="search" class="site-search" action="/search" method="get" role="search">
              <div class="content">
                <label for="site-search-text">Search</label>
                <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
                <button class="button" type="submit">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="grid-wrapper">

        <ul class="grid case-list">

          <li class="case-list__item case-list__item--border">
            <details class="inner-block">
              <summary>
                <h3 class="lede">GHR67834</h3>
                <p itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">Flat 18 Kingman Court, Verdant Road</span>, <span itemprop="addressLocality">London</span>, <span itemprop="postalCode">SV19 9BT</span>
                </p>
              </summary>
              <div class="inner-block">
                <ul>
                  <li>Client: Joe Bloggs</li>
                  <li>Client: Alice Bond</li>
                </ul>
                <div>
                  <h4>Transfer</h4>
                  <a href="create-transfer">create transfer</a>
                </div>
                <div>
                  <h4>Property reservation</h4>
                  <a href="/reserve-priority/select">reserve priority</a>
                </div>
                <a class="case-list__delete" href="">delete case</a>
              </div>
            </details>
          </li>

          <li class="case-list__item case-list__item--border">
            <details class="inner-block">
              <summary>
                <h3 class="lede">GHT46758</h3>
                <p itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">108 Spring Road</span>, <span itemprop="addressLocality">Bedford</span>, <span itemprop="postalCode">BE9 3BS</span>
                </p>
              </summary>
              <div class="inner-block">
                <ul>
                  <li>Client: Sarah Spencer</li>
                  <li>Client: Brian Kerr</li>
                </ul>
                <div>
                  <h4>Transfer</h4>
                  <a href="create-transfer">create transfer</a>
                </div>
                <div>
                  <h4>Property reservation</h4>
                  <a href="/reserve-priority/select">reserve priority</a>
                </div>
                <a class="case-list__delete" href="">delete case</a>
              </div>
            </details>
          </li>

          <li class="case-list__item case-list__item--border">
            <details class="inner-block">
              <summary>
                <h3 class="lede">GHN89712</h3>
                <p itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="streetAddress">Shannon Cottage, Martlesham</span>, <span itemprop="addressLocality">Whitby</span>, <span itemprop="postalCode">WH6 7MA</span>
                </p>
              </summary>
              <div class="inner-block">
                <ul>
                  <li>Client: Norma Jones</li>
                  <li>Client: Terry Jones</li>
                </ul>
                <div>
                  <h4>Transfer</h4>
                  <a href="create-transfer">create transfer</a>
                </div>
                <div>
                  <h4>Property reservation</h4>
                  <a href="/reserve-priority/select">reserve priority</a>
                </div>
                <a class="case-list__delete" href="">delete case</a>
              </div>
            </details>
          </li>

        </ul>
      </div>

    </div>

  </div>

</main>

{% endblock %}
