{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Mortgage details | Create transfer
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="inner-block">

      <h1 class="heading-xlarge">Mortgage Details</h1>

      <form action="citizen-confirm" method="get" class="form">

        <div class="form-group">
          <label for="mortgage-ref" class="form-label">MD Reference</label>
          <p class='form-hint'>E.g. MD1234F</p>
          <input type="text" class="form-control" id="mortgage-ref" value="MD98537F">
        </div>

        <section class="panel-indent">
          <h2 class="heading-medium">Mortgage lender</h2>

          <p itemscope="" itemtype="http://schema.org/Corporation">
            <span itemprop="name">General UK PLC</span><br>
            <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="address-inline">
              <span itemprop="streetAddress">12 Trinity Place, Regents Street</span>
              <span itemprop="addressLocality">London</span>
              <span itemprop="postalCode">NW10 6TQ</span>
            </span>
          </p>
          <dl class="definition-inline">
            <dt>Company registration number</dt>
            <dd>2347676</dd>
            <dt>Account number</dt>
            <dd>1007-789654</dd>
          </dl>
        </section>

        <fieldset>
          <legend>Mortgage date</legend>
          <div class="date-of-birth">
            <p class='form-hint datefield-hint'>For example, 28 4 2015</p>
            <div class='datefield form-group form-group-day'>
              <label for='buyer_date_of_birth_day'>Day</label>
              <input class='form-control' id='buyer_date_of_birth_day' type='text' value=''>
            </div>
            <div class='datefield form-group form-group-month'>
              <label for='buyer_date_of_birth_month'>Month</label>
              <input class='form-control' id='buyer_date_of_birth_month' type='text' value=''>
            </div>
            <div class='datefield form-group form-group-year'>
              <label for='buyer_date_of_birth_year'>Year</label>
              <input class='form-control' id='buyer_date_of_birth_year' type='text' value=''>
            </div>
          </div>
        </fieldset>

        <a href="summary" class="button final-btn">Submit</a>

      </form>

    </div>

  </div>

</main>

{% endblock %}
