{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Sign mortgage
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/hack.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}



<main id="content" role="main" class="group">
<header class="page-header group">
<div>
      <h1>Register to vote</h1>
    
</div>
  </header><div class="article-container group">
  	<article role="article" class="group"><div class="inner">

      <section class="intro"><div class="get-started-intro">
<p>Use this service to:</p>

<ul>
<li>register to vote</li>
  <li>update your name, address or other details on the electoral register</li>
</ul>
<p>You need to be on the electoral register to vote in elections and referendums.</p>

<p>Registering takes around 5 minutes.</p>

<div class="application-notice info-notice">
<p>You’ll need your National Insurance number (if you have one).</p>
</div>
</div>



          <div class="form-group">           
            <a href="buyer-signing-login" class="button">Start now</a>

          </div>


      </section><section class="more"><div id="before-you-start">
    <h1>Before you start</h1>

    <p>You can also <a href="/government/publications/voter-registration-forms-paper-versions">register by post</a>.</p>

<p>The online service is also available in <a href="/cofrestru-i-bleidleisio">Welsh (Cymraeg)</a>.</p>

<p>You can’t register to vote if you’re in the UK illegally.</p>

<h2>Public servants posted overseas</h2>

<p>There are separate registration services for public servants who are likely to be posted overseas:</p>

<ul>
<li><a href="/register-to-vote-armed-forces">armed forces</a></li>
  <li>
<a href="/register-to-vote-crown-servants-british-council-employees">Crown servants</a> (eg diplomatic service, overseas civil service)</li>
  <li><a href="/register-to-vote-crown-servants-british-council-employees">British Council employees</a></li>
</ul>
<h2>Scotland and Northern Ireland</h2>

<p>This service is for England and Wales only. </p>

<p>You’ll need to register using a different form if you live in <a rel="external" href="http://www.aboutmyvote.co.uk/">Scotland</a> or <a rel="external" href="http://www.eoni.org.uk/Register-To-Vote/Register-to-vote-change-address-change-name">Northern Ireland</a>.</p>

  </div>




        <p class="visuallyhidden"><a href="https://www.registertovote.service.gov.uk/register-to-vote/start" rel="external">Get started on </a></p>
      </section>
</div>
   </article><!-- report_a_problem -->

<!-- end report_a_problem -->

<div class="meta-data group">
  <!-- <div class="inner"> -->
      <p class="modified-date">Last updated: 31 July 2014</p>
  <!-- </div> -->
</div>



    </div>

</main>

{% endblock %}
