// namespaced prototype. NOT FOR PRODUCTION!!!!!

// The register view is also (at least for the time being) inheriting the styles set up in sprint-2-token.scss
body.register-view-v1 {

  .heading-toggle {

    summary {
      position: relative;
      display: block;
      //color: $black;

      &::-webkit-details-marker {
        position: absolute;
        right: 0;
        top: $gutter-two-thirds;
      }
    }

    &[open] summary {
      color: $black;
    }

    .heading-medium {
      padding-top: $gutter-half;
      border-top: 1px dotted $grey-2;
    }
  }

  .first-item {
    .heading-medium {
      padding-top: 0;
      border-top: 0;
    }

    summary::-webkit-details-marker {
      top: $gutter-one-third;
    }
  }

  .summary {

    .lede {
      margin-bottom: $gutter;
      padding: $gutter 0;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;

      @extend %contain-floats;
    }

  }

  .title-plan {
    border: 2px solid $white;
  }

  .number-flag {
    font-size: 0.9em;
    @include highlight-tag($white, $black);
  }

  .footnote {
    color: $grey-1;
    @include core-16;
  }

  .changes {
    padding-bottom: $gutter;

    h3 {
      padding: $gutter-half 0;
      border-top: 2px solid $grey-3;
    }
  }

  .changelog {
    padding-top: 1em;
    border-top: 1px dotted $grey-3;

    @extend %contain-floats;
    @include core-16;

    h4 {
      font-style: italic;
    }
  }

  .removal,
  .addition {
    @include box-sizing(border-box);
  }

  .removal {
    float: left;
    width: $half;
    padding-right: $gutter-half;
  }

  .addition {
    float: right;
    width: $half;
    padding-left: $gutter-half;
  }

  del {
    text-decoration: none;
    background-color: $mellow-red-25;
  }

  ins {
    text-decoration: none;
    background-color: $grass-green-25;
  }

}