// namespaced prototype. NOT FOR PRODUCTION!!!!!

// The register view is also (at least for the time being) inheriting the styles set up in sprint-2-token.scss
body.register-view-v1 {

  .changes {
    padding-bottom: $gutter;

    h3 {
      padding: $gutter-half 0;
      border-top: 2px solid $grey-3;
    }
  }

  .changelog {
    padding-top: 1em;
    border-top: 1px dotted $grey-3;

    @extend %contain-floats;
    @include core-16;

    &:last-of-type {
      border-bottom: 2px solid $grey-3;
      margin-bottom: $gutter;
    }

    h4 {
      font-style: italic;
    }
  }

  .removal,
  .addition {
    @include box-sizing(border-box);
  }

  .removal {
    float: left;
    width: $half;
    padding-right: $gutter-half;
  }

  .addition {
    float: right;
    width: $half;
    padding-left: $gutter-half;
  }

  del {
    text-decoration: none;
    background-color: $mellow-red-25;
  }

  ins {
    text-decoration: none;
    background-color: $grass-green-25;
  }

}