{% extends "global/prototypes_base.html" %}

{% block page_title %}
  Create a relationship - Property and land registration
{% endblock %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/legal-document-1-0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ prototypes_asset_path }}stylesheets/relationship-starts-2-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="global-breadcrumb">
          <nav role="navigation">
            <ol>
              <li><a href="/">Home</a></li>
              <li><a href="/">Property and land registration</a></li>
            </ol>
          </nav>
        </div>

        <h1>Create a client relationship</h1>

        <div class="text">

          <p class="lede">Solicitors or conveyancers acting on behalf of a client must use this service to generate a unique transaction code to confirm their relationship.</p>

          <p>Once the code has been generated it must be given to the client so they can use it to authorise the relationship.</p>

          <p>To use this service you’ll need to confirm:</p>
          <ul class="list-bullet">
            <li>your identity on GOV.UK</li>
            <li>the address of the property or land</li>
            <li>contact details of your client</li>
            <li>what your client wants to do</li>
          </ul>

        </div>

        <p>
          <a href="/relationship-starts/conveyancer-login" class="button button-get-started">Start now</a>
        </p>

      </div>
    </div>


  </div>
</main>

{% endblock %}
