// Import GOV.UK Elements
// ==========================================================================

@import "govuk-elements";

// NOT YET INTEGRATED
// ==========================================================================

.phase-banner {
  display: none;
}

.callout--summary {
  border-top: 1px solid $grey-1;
  border-bottom: 1px solid $grey-1;
}

.definition-tabular {
  clear: both;
}