@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.field-numeric {
  width: 6em;
}

.form-control-1-2 {
  width: 25%;
}

.button-edit {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  margin: 0 15px 15px 0;
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
}
.button-edit:visited {
  background-color: #dee0e2;
}
.button-edit:hover, .button-edit:focus {
  background-color: #d0d3d6;
}
.button-edit:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}
.button-edit.disabled, .button-edit[disabled="disabled"], .button-edit[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.button-edit.disabled:hover, .button-edit[disabled="disabled"]:hover, .button-edit[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}
.button-edit.disabled:active, .button-edit[disabled="disabled"]:active, .button-edit[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}
.button-edit:link, .button-edit:hover, .button-edit:focus, .button-edit:visited {
  color: #0b0c0c;
}
.button-edit:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.button-edit:active:before {
  top: -10%;
  height: 120%;
}
.button-edit[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 640px) {
  .button-edit {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.confirmation-blocks .inner-block {
  border-top: 1px solid #dee0e2;
}

.callout--action-notice {
  color: #0b0c0c;
  background-color: #28a197;
}
.callout--action-notice .title-flag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background-color: #0b0c0c;
}
@media (min-width: 641px) {
  .callout--action-notice .title-flag {
    vertical-align: baseline;
  }
}

.callout--generated-token {
  text-align: center;
}
.callout--generated-token h1 {
  margin: 0;
}
