{% extends "global/prototypes_base.html" %}

{% block head %}
  <link href="{{ prototypes_asset_path }}stylesheets/register-view-2-0.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ prototypes_asset_path }}stylesheets/changes-1-0.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
  Official register of title GHR67834
{% endblock %}
  
{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="global-breadcrumb">
          <nav role="navigation">
            <ol>
              <li class="reverse"><a href="/register-view/register-3.0">back to title</a></li>
            </ol>
          </nav>
        </div>

        <h1 class="heading-large">
            Changes to title <span class="title-flag">GHR67834</span>
        </h1>

        <h2 class="heading-medium">Changes pending</h2>

        <ol class="register-changes register-changes--pending">
          <li>
            <time datetime="1991-02-20">20 February 1991</time>
            <h3 class="heading-small">Title of change</h3>
          </li>
          <li>
            <time datetime="1991-02-20">20 February 1991</time>
            <h3 class="heading-small">Title of change</h3>
          </li>
        </ol>

        <h2 class="heading-medium">Previous changes</h2>

        <ol class="register-changes register-changes--previous">
          <li>
            <time datetime="2013-08-07T16:46:28Z">7 August 2013 at 16:46:28</time>
            <h3 class="heading-small">Transfer and charge</h3>

            <details>
              <summary>Detail of changes</summary>

              <h4>Owner(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <del>
                      Grace Dent<br>
                      Flat 18 Kingman Court,<br>
                      Verdant Road,<br>
                      London<br>
                      SV19 9BT
                      </del>
                    </p>
                  </div>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Matthew Jameson<br>
                      118 Leafy Way,<br>
                      Thale,<br>
                      Berks<br>
                      RG12 9AB
                      </ins>
                    </p>
                  </div>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Jennifer Spencer<br>
                      88 Monad Road,<br>
                      Slough,<br>
                      Berks<br>
                      SL20 3JD
                      </ins>
                    </p>
                  </div>
                </div>

              </div>

              <h4>Lender(s)</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <ol class="list-number">
                    <li>
                      <del>
                      Another UK PLC (Co. Regn. No. 2347676)<br>
                      21 Diam Street,<br>
                      London<br>
                      SE10 4QT
                      </del>
                    </li>
                  </ol>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <ol class="list-number">
                    <li>
                      <ins>
                      General UK PLC (Co. Regn. No. 1231234)<br>
                      12 Trinity Place,<br>
                      Regents Street,<br>
                      London<br>
                      NW10 6TQ
                      </ins>
                    </li>
                  </ol>
                </div>

              </div>

              <h4>Restrictions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                  <p>
                    No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <del>12 February 1991</del> in favour of <del>Another UK PLC</del> referred to in the Charges Register.
                  </p>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated <ins>27 July 2013</ins> in favour of <ins>General UK PLC</ins> referred to in the Charges Register.
                  </p>
                </div>

              </div>
            </details>

          </li>
          <li>
            <time datetime="1991-02-12">12 February 1991</time>
            <h3 class="heading-small">Transfer and charge</h3>

            <details>
              <summary>Detail of changes</summary>

              <h4>Property details</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <div class="grid grid-1-2">
                    <p>
                      <ins>
                      Grace Dent<br>
                      Flat 18 Kingman Court,<br>
                      Verdant Road,<br>
                      London<br>
                      SV19 9BT
                      </ins>
                    </p>
                  </div>
                </div>

              </div>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <ol class="list-number">
                    <li>
                      <ins>
                      Another UK PLC (Co. Regn. No. 2347676)<br>
                      21 Diam Street,<br>
                      London<br>
                      SE10 4QT
                      </ins>
                    </li>
                  </ol>
                </div>

              </div>

              <h4>Restrictions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.</ins>
                  </p>
                </div>

              </div>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 12 February 1991 in favour of Another UK PLC referred to in the Charges Register.</ins>
                  </p>
                </div>

              </div>

              <h4>Provisions</h4>

              <div class="changelog">

                <div class="removal">
                  <h5>Removed</h5>
                </div>

                <div class="addition">
                  <h5>Added</h5>
                  <p>
                    <ins>A transfer dated 12 February 1991 made between Helen Cassidy and Clara Teoh contains provisions as to light or air, boundary structures and other matters.</ins>
                  </p>
                  <p class="footnote"><ins>Copy filed under <a href="#">L123456</a></ins></p>
                </div>

              </div>

            </details>

          </li>
        </ol>

      </div>
    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  <script src="{{ prototypes_asset_path }}javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/govuk-elements.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/stop-scrolling-at-footer.js"></script>

  <script src="{{ prototypes_asset_path }}javascripts/lr-faux-details.js"></script>
  <script src="{{ prototypes_asset_path }}javascripts/register-view-2-0.js"></script>
{% endblock %}