{% extends "global/prototypes_base.html" %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-xlarge">
          HTML Prototypes
        </h1>

        <h2 class="heading-medium">Sprint 2</h2>
        <ul>
          <li><a href="sprint-2/token">User flow &mdash; token</a></li>
        </ul>

      </div>
    </div>


  </div>

</main>

{% endblock %}