{% extends "global/prototypes_base.html" %}

{% block body_classes %}prototypes-index{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land registry</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-xlarge">
          HTML Prototypes
        </h1>

        <h2 class="heading-large">Introduction</h2>
        <div class="text">
          <p>This is a place where we iterate wildly.</p>

          <p>This page acts as an index to the various prototypes and ideas we’re having.</p>
        </div>

<!-- ================================= -->

        <h2 class="heading-medium">GOV.UK pages</h2>

        <!--<h3 class="heading-small">Search for land or properties</h3>
        <ul>
          <li><a href="">Start / search page v2.0</a></li>
        </ul>

        <h3 class="heading-small">Search results</h3>
        <ul>
          <li><a href="">Results page (listing) v2.0</a></li>
        </ul>-->

        <h3 class="heading-small">GOV.UK property page</h3>
        <ul>
          <li><a href="govuk/property-details-2.0">Property page v2.0</a></li>
        </ul>

<!-- ================================= -->

        <h2 class="heading-medium">Transaction flows</h2>

        <h3 class="heading-small">Create a relationship</h3>
        <ul>
          <li><a href="relationship-starts/conveyancer-start">1. Conveyancer starts relationship, generates code v2.2</a></li>
          <li><a href="relationship-starts/client-start">2. First citizen (of a couple) enters code and confirms v2.2</a></li>
          <li><a href="relationship-starts/client-2-start">3. Second citizen (of a couple) enters code and confirms v2.2</a></li>
        </ul>

        <details>
          <summary>Older versions</summary>
          <ul>
            <li><a href="sprint-3/conveyancer-start">1. Conveyancer starts relationship, generates token</a></li>
            <li><a href="sprint-4/citizen-reference">2. Citizen enters token and confirms</a></li>
            <li><a href="sprint-2/token">Citizen starts relationship, generates token</a></li>
            <li><a href="sprint-2/input-token">Conveyancer enters token and confirms</a></li>
            <li><a href="sprint-2/show-change">Register view during a change</a></li>
            <li><a href="sprint-3/buyer-login">Buyer agrees to relationship</a></li>
          </ul>
        </details>

        <h3 class="heading-small">Create transfer</h3>
        <ul>
          <li><a href="transfer/login">First conveyancer creates transfer v1.5</a></li>
          <li><a href="transfer-2nd-con/login">Second conveyancer reviews transfer v1.5</a></li>
        </ul>

        
        <h3 class="heading-small">Signing agreements</h3>
        <ul>
          <li><a href="transfer-and-charge-v3/citizen-1-start">First citizen (of a couple) signs transfer and charge v3.0</a></li>
          <li><a href="transfer-and-charge/citizen-1-start">First citizen (of a couple) signs transfer and charge v2.0</a></li>
        </ul>

        <details>
          <summary>Older versions</summary>
          <ul>
            <li><a href="sprint-3/buyer-signing-start">Citizen signs transfer and charge</a></li>
            <li><a href="sprint-2/execute-deed">Execute deed</a></li>
          </ul>
        </details>

<!-- ================================= -->

        <h2 class="heading-medium">Individual pages</h2>

        <h3 class="heading-small">The register</h3>
        <ul>
          <li><a href="register-view/register-2.0">Register view v2.0</a> - history view inline</li>
          <li><a href="register-view/register-2.1">Register view v2.1</a> - plain English version of 2.0</li>
          <li><a href="register-view/register-3.0">Register view v3.0</a> - separate changes view</li>
        </ul>

        <h3 class="heading-small">Changes to the register</h3>
        <ul>
          <li><a href="changes-view/changes-1.0">Changes view (pending and historical) v1.0</a></li>
          <li><a href="changes-view/changes-no-pending-1.0">Changes view (historical only - no pending) v1.0</a></li>
        </ul>

        <details>
          <summary>Older versions</summary>
          <ul>
            <li><a href="sprint-3/register-v1">Register view</a></li>
            <li><a href="sprint-3/register-v1a-history">Register view: history view (current)</a></li>
            <li><a href="sprint-3/register-v1a-history-1">Register view: history view (past)</a></li>
          </ul>
        </details>

<!-- ================================= -->

        <h3 class="heading-small">Deeds and legal documents</h3>
        <ul>
          <li><a href="legal-documents/mortgage-agreement-v1">Mortgage agreement</a> - an example of a legal document for digital signing</li>
          <!--<li><a href="legal-documents/transfer-agreement-v1">Example Transfer of whole agreement</a></li>-->
        </ul>

<!-- ================================= -->

        <details>
          <summary>The attic</summary>

          <h2 class="heading-medium">Example Templates - for designers</h2>
          <ul>
            <li><a href="examples/example-1">starter example</a></li>
          </ul>
        </details>

      </div>
    </div>


  </div>

</main>

{% endblock %}