{% extends "global/prototypes_base.html" %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <!--<a href="#proposition-links" class="js-header-toggle menu">Menu</a>-->
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land registry</a>
      <!--<ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>-->
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-xlarge">
          HTML Prototypes
        </h1>

        <h2 class="heading-large">Introduction</h2>
        <div class="text">
          <p>This is a place where we iterate wildly.</p>

          <p>A bit about how these are html design prototypes which are for user research. They feed into the application we're building at xxxx.xxxxx.xxxx</p>

          <p>This page acts as an index to the various prototypes and ideas we’re having.</p>
        </div>

        <h2 class="heading-medium">Sprint 2</h2>
        <h3 class="heading-small">User flow &mdash; token</h3>
        <ul>
          <li><a href="sprint-2/token">Citizen flow</a></li>
          <li><a href="sprint-2/input-token">Conveyancer flow</a></li>
        </ul>
        <h3 class="heading-small">Deed execution</h3>
        <ul>
          <li><a href="sprint-2/">LINK</a></li>
        </ul>

      </div>
    </div>


  </div>

</main>

{% endblock %}